body{
  background-color: #d1e3ec;
}

#root{
  min-height: 100vh;
  position: relative;
}

Footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p{
  text-align: center;
}

.accountform{
  width: 50%;
  margin: auto;
  padding: 10px;
  padding-bottom: 20px;
  background-color: aliceblue;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px grey;
  margin-top: 20px;
}

.accountform h1{
  color: #6e9de3;
}

.label-class{
  width: 40%;
  margin: auto;
  text-align: center;
}

.flex-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.home-page{
  width: 50%;
  background-color: aliceblue;
  padding: 15px;
  box-shadow: 5px 10px 8px grey;
  border-radius: 10px;
  margin-top: 80px;
}

.home-page-container{
  margin: auto;
}

.question-form button{
  border: 0px;
  border-radius: 50%;
  padding: 5px 20px;
  background-color: #29b7cf;
  color: white;
  font-size: 50px;
  box-shadow: 2px 4px #526d72;
  position: relative;
  left: 20px;
  bottom: 25px;
}

.question-form button:hover{
  background-color: #206f7d;
}

.question-form textarea{
  width: 80%;
  height: 100px;
  resize: none;
  padding: 5px;
}

.author-container{
  text-align: right;
  color: #726bac;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.primary-btn{
  background-color: #6e9de3;
  border: 0px;
  border-radius: 5%;
  color: white;
  padding: 5px;
}

.primary-btn:hover{
  background-color: #506788;
}

.answer-form textarea, .comment-form textarea{
  width: 95%;
  height: 100px;
  resize: none;
}

.position-btn{
  margin-left: 10px;
}

.answer-page{
  width: 50%;
  background-color: aliceblue;
  padding: 15px;
  box-shadow: 5px 10px 8px grey;
  border-radius: 10px;
  margin-top: 80px;
}

#header-question{
  position: sticky;
}

.comment-section{
  width: 60%;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.secondary-btn{
  background-color: rgb(209, 209, 209);
  border: 0px;
  padding: 7px;
  border-radius: 3px;
  color: blue;
  position: fixed;
  z-index: 1;
}

.secondary-btn:hover{
  color: red;
  text-decoration: underline;
}

.HeadBar{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffeec6;
  justify-content: space-between;
  box-shadow: 5px 5px 3px grey;
  height: 60px;
  z-index: 1;
}

#title{
  position: relative;
  left: 20px;
}

.HeadBar button{
  position: relative;
  right: 20px;
  background-color: #772732;
  color: white;
  border: 0px;
  border-radius: 15px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  box-shadow: 2px 2px rgb(84, 23, 23);
}

.HeadBar button:hover{
  background-color: rgb(243, 62, 62);
  box-shadow: 0px 0px;
}

#answer-container{
  white-space: pre-wrap;
}